<ActionBar title="FAQs" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<ScrollView class="page">
    <GridLayout class="m-15 border" rows="auto auto auto" columns="*">
        <GridLayout row="0" class="m-15" rows="auto auto" columns="65, *">
            <Label row="0" col="0" class="h3" text="Question:"></Label>
            <Label row="0" col="1" class="body" text="What information are required for opening an account?" textWrap="true"></Label>
            <Label row="1" col="0" class="h3" text="Answer:"></Label>
            <Label row="1" col="1" class="body" text="On opening an account, your name and email address have to be provided.  Telephone no. is optional." textWrap="true"></Label>
        </GridLayout>
        <GridLayout row="1" class="m-15" rows="auto auto" columns="65, *">
            <Label row="0" col="0" class="h3 bold" text="Question:"></Label>
            <Label row="0" col="1" class="body" text="Do you provide delivery service?" textWrap="true"></Label>
            <Label row="1" col="0" class="h3 bold" text="Answer:"></Label>
            <Label row="1" col="1" class="body" text="We only provide delivery service for purchase above $2,000 and delivery fee will be charged." textWrap="true"></Label>
        </GridLayout>
        <GridLayout row="2" class="m-15" rows="auto auto" columns="65, *">
            <Label row="0" col="0" class="h3 bold" text="Question:"></Label>
            <Label row="0" col="1" class="body" text="Will my credit card information be kept?" textWrap="true"></Label>
            <Label row="1" col="0" class="h3 bold" text="Answer:"></Label>
            <Label row="1" col="1" class="body" text="No.  We do not keep the credit card information. We only keep the name and contact information for our analysis, operation and promotion communication. You have to option to opt out receiving promotion information." textWrap="true"></Label>
        </GridLayout>
    </GridLayout>
</ScrollView>