<StackLayout>
    <Label class="m-5 title" text="Wine Characteristic" textWrap="true"></Label>
    <GridLayout class="list-group-item" rows="auto" columns="150, *">
        <Label row="0" col="0" class="list-group-item-text" text="Producer:"> textWrap="true</Label>
        <Label row="0" col="1" class="list-group-item-text" [text]="wineSummary.producername" textWrap="true"></Label>
    </GridLayout>
    <GridLayout class="list-group-item" rows="auto" columns="150, *">
        <Label row="0" col="0" class="list-group-item-text" text="Country:"> textWrap="true"</Label>
        <Label row="0" col="1" class="list-group-item-text" [text]="wineSummary.country" textWrap="true"></Label>
    </GridLayout>
    <ListView class="list-group p-10" [items]="wineSummary.overview">
        <StackLayout class="list-group p-10">
            <ng-template let-overview="item">
                <GridLayout class="list-group-item" rows="auto" columns="150, *">
                    <Label row="0" col="0" class="list-group-item-text" [text]="overview.type" textWrap="true"></Label>
                    <Label row="0" col="1" class="list-group-item-text" [text]="overview.character" textWrap="true"></Label>
                </GridLayout>
            </ng-template>
        </StackLayout>
    </ListView>
    <Button class="btn btn-rounded-sm no-border" text="Close" (tap)="goBack()"></Button>
</StackLayout>