<ActionBar title="Contact Us" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>
<ScrollView class="page">
    <GridLayout class="m-5" rows="auto auto">
        <StackLayout row="0">
            <Label class="h3" text="Contact Information"></Label>
            <Label class="body" text="
            L6361, Shopping Centre
            Tsim Sha Tsui, Kowloon
            HONG KONG
            Tel: +852 7895 1111
            Fax: +852 7895 2222
            Email: cssupport@grandcru.com" textWrap="true"></Label>
        </StackLayout>
        <GridLayout row="1" orientation="horizontal" rows="*" columns="*, *" class="m-t-20">
            <Button row="0" col="0" [text]="('fa-phone' | fonticon) + '  Call'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="callShop('+85278951111')"></Button>
            <Button row="0" col="1" [text]="('fa-envelope-o' | fonticon) + '  Email'" class="btn btn-rounded-sm btn-outline no-border fa" (tap)="sendEmail()"></Button>
        </GridLayout>
    </GridLayout>
</ScrollView>