<StackLayout>
    <Label class="m-5 title" [text]="'About ' + producer.name" textWrap="true"></Label>
    <Image [src]="BaseURL + producer.image"></Image>
    <ListView class="list-group p-10" [items]="producer.producerdetail">
        <ng-template let-producerdetail="item">
            <Label class="list-group-item-text" [text]="producerdetail.descr" textWrap="true"></Label>
        </ng-template>
    </ListView>
    <Label class="list-group-item-text" [text]="'Official website: ' + producer.website"></Label>
    <Button class="btn btn-rounded-sm no-border" text="Close" (tap)="goBack()"></Button>
</StackLayout>