<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <GridLayout row="0" class="sidedrawer-header" rows="auto" columns="100, *">
            <Image row="0" col="0" src="res://gcclogo" class="sidedrawer-header-image"></Image>
            <Label row="0" col="1" text="Grand Cru Cellar" class="sidedrawer-header-brand" textWrap="true"></Label>
        </GridLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/useruath')" (tap)="onNavItemTap('/userauth', '')">
                    <Label col="0" [text]="'fa-sign-in' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Login" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home', '')">
                    <Label col="0" [text]="'fa-home' | fonticon"  class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Home" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item">
                    <Label col="0" [text]="'fa-list' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" [text]="'Products  ' + ('fa-caret-down' | fonticon)" class="sidedrawer-list-item-text fa"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/products#All Region')" (tap)="onNavItemTap('/products', 'All Region')">
                    <Label col="0" [text]="'fa-globe' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="All Region" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/products#France')" (tap)="onNavItemTap('/products', 'France')">
                    <Label col="0" [text]="'fa-glass' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="France" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/products#Italy')" (tap)="onNavItemTap('/products', 'Italy')">
                    <Label col="0" [text]="'fa-glass' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Italy" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/products#Germany')" (tap)="onNavItemTap('/products', 'Germany')">
                    <Label col="0" [text]="'fa-glass' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Germany" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/about')" (tap)="onNavItemTap('/about', '')">
                    <Label col="0" [text]="'fa-info-circle' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="About Us" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/promotion')" (tap)="onNavItemTap('/promotion', '')">
                    <Label col="0" [text]="'fa-bullhorn' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Promotion" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/contact')" (tap)="onNavItemTap('/contact', '')">
                    <Label col="0" [text]="'fa-address-card' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="Contact Us" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
                <GridLayout columns="50, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/faq')" (tap)="onNavItemTap('/faq', '')">
                    <Label col="0" [text]="'fa-question-circle' | fonticon" class="sidedrawer-list-item-text fa"></Label>
                    <Label col="1" text="FAQ" class="sidedrawer-list-item-text"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>