<ActionBar title="Login" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>    
</ActionBar>
<TabView [(ngModel)]="tabSelectedIndex">
    <StackLayout *tabItem="{title: 'Login'}">
        <StackLayout class="form">
            <GridLayout class="input-field input-sides" rows="auto auto auto auto auto"
                columns="*, *" [formGroup]="loginForm">
                <Image row="0" colSpan="2" src="res://gcclogo" height="100" width="100"></Image>
                <Label row="1" col="0" class="label font-weight-bold" text="Username"></Label>
                <TextField row="1" col="1" id="userName" class="input input-border right" 
                    hint="Username" [text]="" formControlName="userName"></TextField>
                <Label row="2" col="0" class="label font-weight-bold" text="Password"></Label>
                <TextField row="2" col="1" id="password" class="input input-border right" 
                    secure="true" hint="Password" [text]="" formControlName="password"></TextField>
                <Button row="3" colSpan="2" class="btn btn-rounded-sm btn-outline no-border" text="Submit" (tap)="onLoginSubmit()"></Button>
                <Button row="4" colSpan="2" class="btn btn-rounded-sm btn-outline no-border" text="Register" (tap)="register()"></Button>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Register'}">
        <StackLayout class="form">
            <GridLayout rows="auto auto auto" columns="*">
                <Label row="0" col="0" class="h3 font-weight-bold" text="Your Picture"></Label>
                <Image row="1" col="0" id="myPicture" src="res://gcclogo" height="100" width="100"></Image>
                <GridLayout row="2" col="0" orientation="horizontal" rows="*" columns="*, *" class="m-t-10">
                    <Button row="0" col="0" class="btn btn-rounded-sm btn=outline" text="Take Picture" (tap)="takePicture()"></Button>
                    <Button row="0" col="1" class="btn btn-rounded-sm btn-outline" text="Select Image" (tap)="getFromLibrary()"></Button>
                </GridLayout>
            </GridLayout>
            <GridLayout class="input-field input-sides" rows="auto, auto, auto, auto, auto, auto, auto"
                columns="*, *" [formGroup]="registerForm">
                <Label row="0" col="0" class="label font-weright-bold" text="First Name"></Label>
                <TextField row="0" col="1" id="firstName" class="input input-border right" 
                    hint="First Name" [text]="" formControlName="firstName"></TextField>
                <Label row="1" col="0" class="label font-weright-bold" text="Last Name"></Label>
                <TextField row="1" col="1" id="lastName" class="input input-border right" 
                    hint="Last Name" [text]="" formControlName="lastName"></TextField>
                <Label row="2" col="0" class="label font-weright-bold" text="Username"></Label>
                <TextField row="2" col="1" id="userName" class="input input-border right" 
                    hint="Username" [text]="" formControlName="userName"></TextField>
                <Label row="3" col="0" class="label font-weright-bold" text="Password"></Label>
                <TextField row="3" col="1" id="password" class="input input-border right" 
                    hint="Password" [text]="" formControlName="password"></TextField>
                <Label row="4" col="0" class="label font-weright-bold" text="Tel. Number"></Label>
                <TextField row="4" col="1" id="telnum" class="input input-border right" 
                    hint="Tel. Number" [text]="" formControlName="telnum"></TextField>
                <Label row="5" col="0" class="label font-weright-bold" text="Email"></Label>
                <TextField row="5" col="1" id="email" class="input input-border right" 
                    hint="Email" [text]="" formControlName="email"></TextField>
                <Button row="6" colSpan="2" class="btn btn-primary m-15" text="Register" (tap)="onRegisterSubmit()"></Button>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</TabView>