<ActionBar title="Promotion" class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
</ActionBar>

<StackLayout class="page">
    <Label class="m-15 h2" text="Latest Promotion"></Label>
    <ListView [items]="promotions" class="list-group" *ngIf="promotions">
        <ng-template let-promotion="item">
            <StackLayout orientation="horizontal" height="220" class="list-group-item" [nsRouterLink]="['/winedetail', promotion.wineid]">
                <Image row="0" col="0" rowSpan="4" width="100" height="200" [src]="BaseURL + promotion.image" class="thumb p-16"></Image>
                <GridLayout class="list-group-item" rows="auto auto auto auto *" columns="*">
                    <Label row="0" col="0" class="promotion-item-title" [text]="promotion.title"></Label>
                    <Label row="1" col="0" class="promotion-item-offer" [text]="promotion.offer" textWrap="true"></Label>
                    <Label row="2" col="0" class="list-group-item-text" [text]="promotion.winename" textWrap="true"></Label>
                    <Label row="3" col="0" class="list-group-item-text" [text]="promotion.detail" textWrap="true"></Label>
                    <Label row="4" col="0" class="promotion-item-suffix" [text]="promotion.expiration" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
    <ActivityIndicator busy="true" *ngIf="!(promotions || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
</StackLayout>
