<ActionBar title="Wine Portfolio" class="action-bar">
     <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>   
</ActionBar>
<StackLayout class="page">
    <Label class="m-15 title" [text]="'Wine from ' + country"></Label>
    <ListView class="m-15 list-group" *ngIf="wines" [items]="wines">
        <StackLayout>
            <ng-template let-wine="item">
                <GridLayout verticalAlignment="center" class="list-group-item p-10" rows="auto" columns="120, *" [nsRouterLink]="['/winedetail', wine.id]">
                    <Image row="0" col="0" width="100" height="200" class="thumb p-10" [src]="BaseURL + wine.image"></Image>
                    <Label row="0" col="1" class="list-group-item-text" [text]="wine.name" textWrap="true"></Label>
                </GridLayout>
            </ng-template>
        </StackLayout>
    </ListView>
    <ActivityIndicator busy="true" *ngIf="!(wines || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error in getting wine: ' + errMess"></Label>
</StackLayout>