<ActionBar title="Wine Details" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <ActionItem ios.systemIcon="9" ios.position="right" android.systemIcon="ic_menu_more" android.position="actionBar" (tap)="showActionItems()"></ActionItem>
</ActionBar>
<StackLayout orientation="vertical">
    <StackLayout class="m-5" *ngIf="wine">
        <Label class="m-5 title" [text]="wine.name" textWrap="true"></Label>
        <StackLayout orientation="horizontal" class="list-group-item">
            <Image row="0" col="0" width="100" height="200" [src]="BaseURL + wine.image"></Image>
            <ListView row="0" class="list-group p-10" [items]="wine.winedetail">
                <ng-template let-winedetail="item">
                    <Label class="list-group-item-text" [text]="winedetail.detail" textWrap="true"></Label>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>
    <ActivityIndicator busy="true" *ngIf="!(wine || wineErrMsg)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="wineErrMsg" [text]="'Error in getting wine details: ' + wineErrMsg"></Label>
    <ActivityIndicator busy="true" *ngIf="!(producer || producerErrMsg)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="producerErrMsg" [text]="'Error in getting producer details: ' + producerErrMsg"></Label>
</StackLayout>